{% extends 'base.html' %}
{% comment %} index.html {% endcomment %}
{% block content %}
<div class="wrapper">
  <h1>Welcome to Secure messenger</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label for="room">Room id</label>
      <input id="room" type="text" name="room_code" required />
    </div>
    <div class='form-control'>
      <label for="character_choice">Your message</label>
      <input id="message" type="textbox" name="room_code" required />
    </div>
    <input type="submit" class="button" value="Start Chat" />
</div>
</form>
{% endblock content %}